<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIhaXf_iQjRB9UEcfLCiw_HeKrD-kcvYI</string>
	<key>GCM_SENDER_ID</key>
	<string>214026814604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.ERACompany.Twitgram</string>
	<key>PROJECT_ID</key>
	<string>twitgram-ba12d</string>
	<key>STORAGE_BUCKET</key>
	<string>twitgram-ba12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214026814604:ios:eb2ef60287d7da1c3527a9</string>
</dict>
</plist>